body{ 
    margin: 0;
}

.d-flex{
display: flex;
}


.container{
    width: 900px;
    margin: auto;

}

header{
    background-color: rgb(7, 11, 70);
    height: 70px;
    align-items: center;
}

header a{
color: rgb(247, 247, 252);
text-decoration: none;
}
header .container {
    justify-content: space-between;
}
.notification-block {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(166, 127, 204, 0.767);
    color: white;

}
.notification-block a {
    color: rgb(15, 3, 1);
    text-decoration: none;
}

.welcom-conteiner img{
max-width: 60%;
}

.welcom-conteiner .text-wrappers{
    width: 30%;

}
