body{ 
    margin: 0;
}

.d-flex{
display: flex;
}


.container{
    width: 900px;
    margin: auto;

}

header{
    background-color: rgb(187, 187, 179);
    height: 70px;
}

header a{
color: blue;
text-decoration: none;
}