body{ 
    margin: 0;
}

.d-flex{
display: flex;
}

.container{
    width: 900px;
    margin: auto;
}

header{
    background-color: rgb(7, 11, 70);
    height: 100px;
    align-items: center;
}

header a{
color: rgb(247, 247, 252);
text-decoration: none;
}
header .container {
    justify-content: space-between;
}
.notification-block {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(166, 127, 204, 0.767);
    color: white;

}
.notification-block a {
    color: rgb(15, 3, 1);
    text-decoration: none;
}

.welcom-conteiner img{
max-width: 100%;
}

.welcom-conteiner .text-wrappers{
    width: 30%;

}
.welcom-conteiner {
    padding: 30px 0;
    background-color: rgb(231, 222, 212);
}


.d-flex{
    display: flex;
}

.d-inline-flex{
    display: inline-flex;
}

.buy-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
   align-items: center;
   gap: 5px;
   background-color: rgb(12, 70, 73);
   padding: 5px 10px;
   color: white;
   border-radius: 12px;
   height: 25px;
}


.img-container{
    position: relative;
}

.card{
    width: 25%;
}

.card .prodact-img{
    width: 100%;
    height: 120px;
    border-radius: 25px;

}
.card h1{
    font-size: 24px;
    margin: 0 0 10px;
}
.card p{
    margin: 0;
}